* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 87.5%;
}

.lp__parallax-image {
  background-image: url(../assets/images/pic4.jpg);
  min-height: 70vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* describe section */
.lp__describe-section {
  margin: 2.71rem;
}
.lp__describe-header {
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  font-size: 2.85rem;
  line-height: 1.3;
  letter-spacing: 0px;
}
.lp__describe-footer-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  padding: 2.5rem;
}
.lp__describe-footer-container > * {
  margin: 0 1rem;
  padding: 1.4rem;
  min-width: 33.3%;
}
.lp__describe-footer-section {
  border: 2px solid white;
  transition: all 1s ease-in;
}
.lp__describe-footer-section:hover {
  border: 2px solid green;
}
.lp__describe-footer-section-icon {
  font-size: 8rem;
  color: black;
}
.lp__describe-footer-section-header {
  font-size: 1.71rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  line-height: 1.3;
  letter-spacing: 0.02px;
}
.lp__describe-footer-section-subheader {
  font-size: 1.14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  margin-bottom: 0.8rem;
  line-height: 1.3;
  letter-spacing: 0.02px;
}
.lp__describe-footer-section-para {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  line-height: 1.3;
  letter-spacing: 0.05rem;
}

/* About section */
.lp__About-main {
  display: flex;
  justify-content: center;
  padding: 3% 1.5%;
  background-color: rgba(226, 202, 202, 0.692);
  
}
.lp__About-main-image-container {
  width: 55%;
  height: 465px;
  margin: 0 30px;
}

.lp__About-main-text-header {
  font-size: 2.85rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.02px;
  margin: 0 auto 1.5rem;
}
.lp__About-main-text-describe {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  color: #a9a196;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
}
.lp__About-main-text-goal {
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  color: #ffa900;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0px;
  margin: 3rem auto;
  display: inline-block;
}
.lp__About-main-text-para1 {
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  color: #683d4a;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0px;
}
.lp__About-main-text-para2 {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  color: #a9a196;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* //event section  */
.lp__parallax-image2 {
  background-image: url(../assets/images/pic\ 3.jpg);
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lp__Event {
  padding: 10% 2%;
  
}
.lp__Event-top-text-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  flex-wrap: wrap;
}
.lp__Event-top-text-content-right-header {
  font-weight: 400;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.02px;
  margin-bottom: 5%;
}
.lp__Event-top-text-content-right-para.one {
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  color: #ffa900;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0px;
}
.lp__Event-top-text-content-right-para.two {
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0px;
  margin-bottom: 5%;
}
.lp__Event-top-text-content-right-para.three {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  color: #a9a196;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  
}
.lp__Event-top-text-content-left{
 
 display: flex;
 width: 50%;
 justify-content: center;
 align-content: center;
padding: 50px 5px;
 text-align: center;
 box-sizing: border-box;
    
}

.lp__Event-bottom-text-content-left-input {
  font-size: 16px;
  padding: 15px 28px;
  line-height: normal;
  height: 60px;
    border: 1px solid;
  border-radius: 0.3rem;
  margin: 0.5% 0;
}

.lp__Event-bottom-text{
      padding: 0 9.5px;
      margin: 0.8% 0;
}
.lp__Volunteer{
  display: flex;
  padding: 3% 1.5%;
  /* align-items: center; */
  /* flex-wrap:wrap ;*/
  justify-content: flex-start; 
  background-color: black;
  
}

.lp__Volunteer > * {
  /* float: left; */
  padding: 1.4rem;
  /* width: 40%; */
}
